/* .like-button{
  
    width: 11vw;
    height: 12vh;
    background-color: #b2a77f00;
    border-color: #b2a77f00;
    transition: 0.3s;
    margin-top: 2em;
 
    background-image: url('../../img/boton_likes-11.png');
   
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

}

.like-button:hover{

    cursor:pointer;
    transition: 0.3s;
    background-image: url('../../img/boton_likes-10.png');
   
}
.detail-button{
    width: 11vw;
    height: 12vh;
    background-image: url('../../img/detailOff.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b2a77f00;
    border-color: #b2a77f00;
    transition: 0.3s;
    margin-top: 2em;
}
.detail-button:hover{
    background-image: url('../../img/detailOn.png');
    cursor:pointer;
}
.likeSection {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0.2;
}
.profile-img{

    width: 22vw;
    padding: 0.3em;
   
} */