.feed-pannel {

    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 2em;
    height: auto;
    width: 33vw;

    margin: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-title {
    color: #702553;
    font-size: 0.7em;
    font-family: 'natural medium';
    padding: 0.2em;
}

.card-nick {
    color: #37b106;
    font-size: 0.7em;
    font-family: 'natural light';
    padding: 0.2em;
}

.card-text {
    color: #99009b;
    font-size: 0.7em;
    font-family: 'natural light';
    padding: 0.2em;
}

.card-img {
    width: 22vw;
    padding: 0.3em;
}

.detail-button {
    width: 11vw;
    height: 12vh;
    background-image: url('../../img/detailOff.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b2a77f00;
    border-color: #b2a77f00;
    transition: 0.3s;
    margin-top: 2em;
}

.detail-button:hover {
    background-image: url('../../img/detailOn.png');
    cursor: pointer;
}


.like-button {

    width: 11vw;
    height: 12vh;
    background-color: #b2a77f00;
    border-color: #b2a77f00;
    transition: 0.3s;
    margin-top: 2em;

    background-image: url('../../img/boton_likes-11.png');

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.like-button:hover {

    cursor: pointer;
    transition: 0.3s;
    background-image: url('../../img/boton_likes-10.png');

}

.likeSection {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.2;
}