.register-design {

    height: 88vh;
    width: 100vw;

    color: #702553;
    font-size: 1em;
    font-display:initial;
    font-family: 'natural medium';

    background-color: #b2a77f;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.error{
    color:darkred;
    font-weight: bold;
}

.register-pannel{

    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 3em;
    height: 34vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.register-button{
    /* background-color: blueviolet; */
    width: 11vw;
    height: 12vh;
    background-color: #b2a77f00;
    border-color: #b2a77f00;
    transition: 0.3s;
    margin-top: 2em;
    /* Agregar imagen de fondo */
    background-image: url('../../img/boton_register-09.png');
    /* Ajustar tamaño y posición de la imagen */
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.register-button:hover{
/* 
    background-color: rgb(221, 191, 248); */
    background-color: #b2a77f00;
    border-color: #b2a77f00;
    transition: 0.3s;
    background-image: url('../../img/boton_register-08.png');
   
}