.register-design {

    height: 88vh;
    width: 100vw;

    background-color: #B2A77F;

    display: flex;
    justify-content: center;
    align-items: center;

}
.register-button{
    /* background-color: blueviolet; */
    width: 11vw;
    height: 12vh;
    background-color: #B2A77F;
    transition: 0.3s;
    margin-top: 2em;
    /* Agregar imagen de fondo */
    background-image: url('../../img/boton_login-06.png');
    /* Ajustar tamaño y posición de la imagen */
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.register-button:hover{
/* 
    background-color: rgb(221, 191, 248); */
    
    transition: 0.3s;
    background-image: url('../../img/boton_login-07.png');
   
}