.profile-design {
    height: 88vh;
    width: 100vw;
    
    background-image: url('../../img/fondo-detail-2-10.png');
    background-color: #C6C4B9;

    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    overflow-x: hidden;
    overflow-y: scroll;
    

}
.edit-profile{

    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 3em;
    min-height: 30vh;
    width: 20vw;

    margin: 1em;
   
    display:grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.profile-pannel{
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 3em;
    min-height: 30vh;
    width: 40vw;

    margin: 1em;

    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card-title-profile {
    color: #702553;
    font-size: 1.4em;
    font-family: 'natural medium';
    padding: 0.2em;
}

.card-nick-profile  {
    color:  #702553;
    font-size: 1.2em;
    font-family: 'natural medium';
    padding: 0.2em;
}

.card-text-profile {
    color: #7C7242;
    font-size: 1em;
    font-family: 'natural light';
    padding: 0.2em;
}

.card-img-profile  {
    width: 22vw;
    padding: 0.3em;
}


.deleteSection-profile  {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.2;
}