.profile-design {
    height: 88vh;
    width: 100vw;
    
    background-image: url('../../img/fondo-detail-2-10.png');
    background-color: #C6C4B9;

    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    color:whitesmoke;

}

.disabled {

    background-color: aqua;
}

.profile-carrousel{
    
    height: auto;
    width: 100vw;

    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    
}

.profile-pannel{
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 3em;
    min-height: 30vh;
    width: 40vw;

    margin: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}