.feed-design {

    height: 88vh;
    width: 100vw;

    background-color: #B2A77F;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: scroll;

}

.feed-pannel {

    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 3em;
    height: 52vh;
    width: 60vw;

    margin: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:initial;

}
.post-img{

    width: 12vw;
}

.feed-img {
    /* background-color: blueviolet; */
 
    color: #e10c0c;
    margin-top: 2em;
    border-radius: 2em;
    transition: 0.2s;
}


.feed-user {
    color: whitesmoke;
    font-weight: bold;
}

.feed-img2 {
    /* background-color: blueviolet; */
  
    color: #08a8a5;
    margin-top: 2em;
    border-radius: 2em;
    transition: 0.2s;


    /* Agregar imagen de fondo */
    /* background-image: url('../../img/boton_login-06.png'); */
    /* Ajustar tamaño y posición de la imagen */
    /* background-size:contain;
    background-position: center;
    background-repeat: no-repeat; */
}

.feed-img3 {
    /* background-color: blueviolet; */

   color: #1db318;
    margin-top: 2em;
    border-radius: 2em;
    transition: 0.2s;
}


.feed-img4 {
    /* background-color: blueviolet; */
  
    color: #0900bb;
    margin-top: 2em;
    border-radius: 2em;
    transition: 0.2s;
}
