.feed-design {

        height: 88vh;
        width: 100vw;
    
        background-color: #B2A77F;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

}

.feed-pannel{

    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 3em;
    height: 35vh;
    width: 30vw;

    margin: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;

} 

.feed-img{
    /* background-color: blueviolet; */
    width: 23vw;
    height: 25vh;
    background-color: #ffffff;
    margin-top: 2em;
    border-radius: 2em;
    transition: 0.2s;

    /* Agregar imagen de fondo */
    /* background-image: url('../../img/boton_login-06.png'); */
    /* Ajustar tamaño y posición de la imagen */
    /* background-size:contain;
    background-position: center;
    background-repeat: no-repeat; */
}
.feed-img:hover{
    /* background-color: blueviolet; */
    background-color: #ffffff9a;
    transition: 0.3s;
    margin-top: 2em;
    transition: 0.2s;

    /* Agregar imagen de fondo */
    /* background-image: url('../../img/boton_login-06.png'); */
    /* Ajustar tamaño y posición de la imagen */
    /* background-size:contain;
    background-position: center;
    background-repeat: no-repeat; */
}
.feed-user{
    color: whitesmoke;
    font-weight: bold;
}