.feed-design {

    height: 88vh;
    width: 100vw;

    background-color: #B2A77F;

    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    color:whitesmoke;

}

/* .feed-pannel0{
   
    width: 50vw;
    height:80vh ;
    overflow-y: scroll;
    overflow-x: hidden;
} */

.feed-pannel {

    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 3em;
    min-height: 30vh;
    width: 40vw;

    margin: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.post-img{
    
    width: 20vw;
    padding: 1em;

}

.feed-img {
    color:whitesmoke;
    width: 32vw;
    /* background-color: #b2a77f52; */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    padding: 1em;
   
    border-radius: 2em;
    transition: 0.2s;
}

.feed-user {
    color: whitesmoke;
    font-weight: bold;
    padding: 1em;
}

.feed-img2 {
  
    color: #000000;
    width: 32vw;
    /* background-color: #b2a77f52; */
    padding: 1em;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;

    border-radius: 1em;
    transition: 0.2s;
}

.feed-img3 {

    color: #000000;
    width: 32vw;
    /* background-color: #b2a77f52; */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    padding: 1em;

    border-radius: 2em;
    transition: 0.2s;
}


.feed-img4 {
  
    color: #000000;
    width: 32vw;
    /* background-color: #b2a77f52; */
  
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;

    border-radius: 2em;
    transition: 0.2s;
}
