/* Estilos para el header */
.header-design {
    height: 12vh;
    width: 100vw;
    background-color:#C6C4B9;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
  }
  
  /* Estilos para el contenedor central */
  .header-center {
    flex-grow: 1; /* Hace que el elemento ocupe todo el espacio restante */
  }
  
  /* Estilos para el contenedor derecho */
  .header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
    align-items: center; /* Centra los elementos verticalmente */
    margin-right: 10px; /* Ajusta el margen derecho */
  }
  .header-login-register{
    
        display: flex;
      
  }
  