.clink-design{

    color: #B2A77F;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    margin: 3em;
    cursor: pointer;
    transition: 0.3s;
}
.clink-design:hover {

    color:#702553;
    font-weight: bold;

    transition: 0.3s;
    cursor: pointer;

}
.clink-design-post{
    color: #702553;
    font-size: 1.4em;
    font-family: 'natural medium';
    padding: 0.2em;
    background-color: #B2A77F; 
    border-radius: 3em;

    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin: 3em;
    cursor: pointer;
    transition: 0.3s;

}
.clink-design-post:hover {

    color:  #B2A77F;
    font-size: 1.4em;
    font-family: 'natural medium';
    padding: 0.2em;
    background-color:#702553; 
    border-radius: 3em;

    transition: 0.3s;
    cursor: pointer;

}